<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.bignlp.opm/src/main/java/com/bignlp/opm/AnnotationEngineMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bignlp.opm.AnnotationEngineMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.bignlp.opm"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-server -Xms2048m -Xmx2048m"/>
</launchConfiguration>
